body {
    width: 1000px;
    background-color: #221b96;
    font: 14px "Century Gothic", Futura, sans-serif;
    margin-top: 100px;
    margin-left: 40%;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  .game-info {
    padding: 5px;
    margin: 0px;
  }

  .game-info button{
    color: aliceblue;
    background-color: #7e05ff;
    border: 1px solid #09080a;
    border-radius: 5px;
  }

  .game-info p {
    font-size: 25px;
    color: aliceblue;
  }

  .game-info li {
    list-style: none;
    margin-bottom: 5px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 35px;
    font-weight: bold;
    line-height: 34px;
    height: 68px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 68px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  h1 {
    color: aliceblue;
    font-size: 40px;
  }